@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "Bona Nova", serif;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.felxbox-area {
  width: 100%;
  display: flex;

  margin: 15px;
}
h1 {
  font-size: 35px;
}
.orange {
  color: orange;
  font-size: 35px;
}
.half-width {
  width: 50%;
  padding: 25px 40px;
  margin: 10px 20px;
}
.mod {
  width: 75%;
  margin-left: 15px;
  padding: 20px;
  float: right;
}
.g-btn {
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(218, 140, 45);
  color: white;
  padding: 0px 25px;
  border-radius: 15px;
  padding-bottom: 4px;
  margin-top: 8px;
}
p {
  font-size: 25px;
}
.second-banner {
  width: 100%;
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  margin: 15px;
  background-position: right;
}
.mod2 {
  width: 75%;
  margin-left: 15px;
  padding: 20px;
  float: left;
}
.experiance-shadow {
  width: 40%;
  padding: 33px;
  box-shadow: -10px 12px 15px black;
  margin-left: 5%;
}
.font-big {
  font-size: 35px;
}
